[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Encerrar Ferramentas de Coberturas
Comment=Inicia a transmissão de A/V para a internet.
Exec=/usr/local/bin/cobertura-iniciar-transmissao
Icon=/usr/share/icons/cobertura/network-wireless.png
Terminal=false
Categories=GNOME;Cobertura;Internet
