[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=DVSwitch
Comment=Inicia o PAINEL do DVSWITCH.
Exec=dvswitch
Icon=/usr/share/icons/cobertura/video-display.png
Terminal=false
Categories=GNOME;Cobertura;Internet
